	
	.error {
			color: #FF0000;
			
	}
	.sucess{
		color: green;
	}
	.ful-width{
	    width:100%;
	    margin-top:30px;	
	   	margin-bottom: 30px;
	   	position:relative;
	}
	.bg-transparent{
	    float: left;
	  	/*background-color: #ebeeef;*/
	    margin-top: 10px;
	}

	.custom-form{
		float: left;
		width:100%;
		border-radius: 20px;
		box-shadow: 0 0 30px #A6ACAF;
		overflow: hidden;
		background-color: #D7DBDD;
		margin-bottom: 25px;

	}
	.bg-form{
	    float:left;
	    width:100%;
	    position:relative;
	    background-repeat: no-repeat;

	    background-size: cover;
	    margin-top: 0px;
	}
	.img-section{
	    float: left;
	    width: 100%;
	    padding-top: 15px;
	    padding-bottom: 15px;
    background-color: #6ed0ec	;
    	    position: relative;
	}
	.imgCircle{border-radius: 50%;}
	img{
		border-radius: 50%;
	}
	.camera{
    font-size: 5%;
    color: gray	;
	}
	#PicUpload{
	    color: black;
	    width: 30px;
	    height: 30px;
	    padding: 100px;
	    position: absolute;
	    font-size: 50px;
	    left: 26.5%;
	    border-radius: 50%;
	   
	    top: 50px;
	}

	.form-control{padding: 10px 50px;}
	.form-input{height:50px;border-radius: 0px;margin-top: 20px;}
	.Profile-input-file{
	    height:180px;
	    width:180px;
	    left:33%;
	    position: absolute;
	    top: 0px;
	    opacity: 0 !important;
	}
	.mg-auto{
	    margin:0 auto;max-width: 200px;overflow: hidden;
	}
	.fake-styled-btn{
	    background: #006cad;
	    padding: 10px;
	    color: #fff;
	}
	#main-input{width:250px;}
	.input-place{
	    position: absolute;top:35px;left: 20px;font-size:23px;color:gray;}
	.margin{margin-top:10px;margin-bottom:10px;}
	.truncate {
	    width: 250px;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	}
	
	
	
	
	.custom-btn{
	    margin-top: 15px;
	    border-radius: 0px;
	    padding: 10px 60px;
	    margin-bottom: 15px;
	}
	#checker{
	    opacity: 0;
	    position: absolute;
	    top: 0px;
	    cursor: pointer;
	}
	.color{
	    color:#fff;
	}
	.black-color{
		color: black;
	}

	/*====== style for placeholder ========*/

	.form-control:-webkit-input-placeholder {
	    color:lightgray;
	    font-size:18px;
	}
	.form-control:-moz-placeholder {
	    color:lightgray;
	    font-size:18px;
	}
	.form-control::-moz-placeholder {
	    color:lightgray;
	    font-size:18px;
	}
	.form-control:-ms-input-placeholder {
	    color:lightgray;
	    font-size:18px;
	}