h1 {
  margin: 10px 0 30px 0;
  text-align: center;
  font-size: 26px;
}
 
.message{text-align: center;}

a, i{
    text-decoration: none;
    font-size: 16px;
    color: #808080;
    line-height: 1.2;
    text-align: center;
    top: 16px;
}


.errorMessage{
  color: red;
}



input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],

select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 10px 0px 10px 10px;
  width: 100%;
  background-color: #e8eeef;
  color: black;
  margin-bottom: 0px;
  
}

.mainbox {
  max-width: 500px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}
input[type="submit"] {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #8a97a0;
}


@media screen and (min-width: 480px) {

   .mainbox {
    max-width: 480px;
  }

}




