
.header{width: 100%;
clear: both;}

img.icon{
	height: 25px;
}
img {
    border-radius: 50%;
}
.card-img-top{
	width: 50%;
	align-self: center;
  margin-top:10px;
  border-top-left-radius: calc(4rem - 1px); 

}

.card{text-align: center;
		border-radius: 5px;
		margin-left: 10px;
    margin-top: 10px;
		box-shadow: 5px 5px gray;
	}

.dropdown-menu.show {

    text-align: center;
}

.row{margin-right: 0px;
      margin-left: 5px;}

table{ 
  text-align: center;
	border:1px solid grey;
	
	border-radius: 5px;

}
td, th{border:1px solid navy;}
thead{color: #508abb;}
tr:nth-child(even){background-color: #f2f2f2}

h3{text-align: center;
    padding-top: 10px;}

.data-table
{
  align-self: center;
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
}


/*add ticket css*/

h2{text-align: center;
    font-size: 36px;
    color: black;
    padding-top: 5px;
    font-weight:    ;
}
select#deptSel, select#catSel {
    background-color: #E7EDEF;
    background: rgba(231, 237, 239,0.8);
}



input, textarea, select{background-color: #E7EDEF;
        background: rgba(231, 237, 239,0.8);
                border-radius: 3px;
                border:none;
                color: black;
                margin: 12px 0;
                padding: 10px 20px;
                width: 100%;
              }

textarea{height: 300px; font-size: 20px;}  

.center{text-align:center;}

.addticket{align-self: center;
            margin:10px;
            width: 60%}

.ticketbtn{background-color: #44a7e1;
      border: 1px solid #E7EDEF;
      border-radius: 3px;
      padding: 10px;
      width: 145px;
      margin-bottom: 10px;
      font-weight: bold;
      color: black;
      font-size: 18px;}
/*footer*/

p{margin-top: 10px;}

.footerIcon{font-size: 24px;
margin-top: 10px;
padding-right: 10px;}

.footer{
position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;}


